button {
    width: 138px;
    height:41px;
    padding: 10px 40px 10px 40px;
    gap: 10px;
    border-radius: 20px;
    background: #00DEC1;
}

.modal {
    width: 678px;
    height: 632px;
    border-radius: 10px;
    padding: 100px 54.5px;
}

.title {
    font-family: Switzer;
    font-size: 20px;
    font-weight: 500;
    line-height: 26.4px;
    text-align: center;
    color: #2C2D56;
}
