

<style>
    .h1 {
        font-family: Switzer;
        font-size: 24px;
        font-weight: 700;
        line-height: 31.68px;
        text-align: left;
        color: #2F2727;

    }

    .p1 {
        font-family: Switzer;
        font-size: 16px;
        font-weight: 300;
        line-height: 21.12px;
        color: #2F2727;
    }

    label {
        font-family: Switzer;
        font-size: 14px;
        font-weight: 500;
        line-height: 18.48px;
        text-align: left;
        color: #6E6D6D;
    }


    .custom-input {
        height: 37px;
        border-radius: 8px;
        border: 1px solid #d1d5db;
        background: #F2F2F2;
        margin-top: 8px;
    }

    .pd {
        padding: 0 12px;
    }

    button {
        width: 181px;
        height: 41px;
        padding: 10px 60px 10px 60px;
        gap: 10px;
        border-radius: 20px;
        color: #000000;
    }


    form {
        padding: 52.5px 0;
    }

    /* Lado izquierdo formulario*/
    .ld2 {
        height: 864px;
        background: #4865EF;
        padding: 52.5px 0;
    }

    .box1 {
        background: #2C2D56;
        border-radius: 10px;
        width: 502px;
        height: 87px;
    }

    .box1-p1 {
        font-family: Switzer;
        font-size: 40px;
        font-weight: 700;
        color: #FFFCEA;
    }

    .box1-p2 {
        font-family: Switzer;
        font-size: 38.49px;
        font-weight: 300;
        color: #FFFCEA;
    }

    .box1-p3 {
        font-family: Switzer;
        font-size: 14.72px;
        font-weight: 400;
        line-height: 19.43px;
        color: #FFFCEA;
    }

    .box-p4 {
        font-family: Switzer;
        font-size: 14px;
        font-weight: 300;
        line-height: 18.48px;
        text-align: left;
        color: #FFFCEA;
    }

    .box-p4.active {
        color: #00D8BB;
    }

    .box-label {
        font-family: Switzer;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.48px;
        text-align: left;
        color: #000000;
    }

    .text-modal {
        font-family: Switzer;
        font-size: 12px;
        font-weight: 400;
        line-height: 15.84px;
        text-align: left;
        color: #2C2D56;
    }
</style>

<section class="grid grid-cols-1 lg:grid-cols-2 justify-center" >

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="grid grid-rows-8 justify-items-center w-full">

        <div class="w-[336px] lg:w-[558px]">
            <h1 class="h1">¡Regístrate</h1>
            <p class="p1">Da el primer paso y solicita un crédito para tu Mipyme.</p>
            <p class="p1">Diligencia los siguientes campos:</p>
        </div>

        <div class="flex flex-col">
            <div class="flex items-center justify-between">
                <label for="nit">NIT de tu empresa*</label>
                <p *ngIf="registerForm.get('nit')?.invalid && registerForm.get('nit')?.touched">
                    <small class="text-red-500">*Este campo es obligatorio</small>
                </p>
            </div>
            <input 
                formControlName="nit" 
                type="text" 
                class="w-[336px] lg:w-[558px] custom-input"
                [ngClass]="{
                    'border-red-500': registerForm.get('nit')?.invalid && registerForm.get('nit')?.touched,
                    'border-gray-300': !registerForm.get('nit')?.invalid || !registerForm.get('nit')?.touched
                }"
            >
        </div>

        <div class="flex flex-col">
            <div class="flex items-center justify-between">
                <label for="email">Correo de tu empresa*</label>
                <p *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                    <small class="text-red-500">*Por favor, ingresa un correo electrónico válido.</small>
                </p>
            </div>
            <input formControlName="email" type="email" class="w-[336px] lg:w-[558px] custom-input">
        </div>

        <div class="flex flex-col">
            <div class="flex items-center justify-between">
                <label for="phone">Número de celular*</label>
                <p *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched">
                    <small class="text-red-500">*Por favor, ingresa un número de celular válido.</small>
                </p>
            </div>
            <input formControlName="phone" type="text" class="w-[336px] lg:w-[558px] custom-input">
        </div>

        <div class="flex flex-col">
            <div class="flex items-center justify-between">
                <label for="password">Crea tu contraseña*</label>
                <p *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                    <small class="text-red-500">La contraseña debe tener al menos 8 caracteres.</small>
                </p>
            </div>
            <input formControlName="password" type="password" class="w-[336px] lg:w-[558px] custom-input">
        </div>

        <div class="flex flex-col">
            <div class="flex items-center justify-between">
                <label for="password">Repite tu contraseña*</label>
                <p *ngIf="registerForm.errors?.['mismatch'] && registerForm.get('confirmPassword')?.touched">
                    <small class="text-red-500">Las contraseñas no coinciden.</small>
                </p>
            </div>
            <input formControlName="confirmPassword" type="password" class="w-[336px] lg:w-[558px] custom-input">
        </div>

        <div class="flex flex-col space-y-5 w-[336px] lg:w-[558px]">
            <div class="flex items-center">
              <input 
                type="checkbox" 
                id="terms" 
                class="custom-checkbox"
                [checked]="isTermsChecked"
                (change)="onTermsChange($event)"
              >
              <label for="terms" class="box-label ml-3">Autorización de los términos y condiciones de la plataforma</label>
            </div>
            
            <div class="flex items-center">
              <input 
                type="checkbox" 
                id="data" 
                class="custom-checkbox"
                [checked]="isDataChecked"
                (change)="onDataChange($event)"
              >
              <label for="data" class="box-label ml-3">Autorización de tratamiento de datos</label>
            </div>
          </div>

        <div class="flex justify-center mt-3 relative">
            <app-alert
                *ngIf="alertMessage"
                [type]="alertType"
                [message]="alertMessage"
                (close)="alertMessage = ''">
            </app-alert>

            <button 
                type="submit" 
                [disabled]="isFormInvalid()" 
                [ngClass]="{
                    'bg-blue-500': !isFormInvalid(),
                    'bg-gray-500 cursor-not-allowed': isFormInvalid()
                }"
                class="relative z-10"
            >
                Ingresar
            </button>
        </div>

    </form>

    <div class="hidden lg:grid justify-items-center ld2 w-full">
        <div>
            <img src="/assets/svgs/logo-xl.svg" alt="">
        </div>
        <div class="text-center">
            <p class="box1-p1">Crédito para empresas</p>
            <p class="box1-p2">¡Solicítalo hoy mismo!</p>
        </div>

        <img src="/assets/svgs/maletin-xl.svg" alt="">
        <p class="box1-p3">Si eres persona jurídica con más de 6 meses de constitución</p>

        <div class="box1 grid grid-cols-2 gap-4 items-center justify-items-center">
            <p class="box-p4 active">Solicitud y validación</p>
            <p class="box-p4">Vinculación de empresa</p>
        </div>
    </div>
</section>


<app-modal
    [isOpen]="isTermsModalOpen"
    title="Términos y condiciones"
    (confirmEvent)="acceptTerms()"
>
    <p class="text-modal">{{ message }}</p>
    <br>
    <p class="text-modal">{{ message }}</p>
</app-modal>

<app-modal
    [isOpen]="isDataModalOpen"
    title="Tratamiento de Datos"
    (confirmEvent)="acceptData()"
>
    <p class="text-modal">{{ message }}</p>
    <br>
    <p class="text-modal">{{ message }}</p>
</app-modal>

