@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.custom-checkbox {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #6E6D6D; 
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.custom-checkbox:checked {
    background-color: #00DEC1;
    border-color: #00DEC1; 
    color: #FFFFFF;
}

.custom-checkbox:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
